<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pay Debt</title>
</head>
<body>
    <h3 th:if="${errorMessage}"> <p th:text="${errorMessage}"/> </h3>
    <form method="post" action="/user">
        <table>
            <tr>
                <td>ID :</td>
                <td><input type="text" name="id"/></td>
            </tr>
            <tr>
                <td>Password :</td>
                <td><input type="password" name="pwd"/></td>
            </tr>
            <tr>
                <td><input type="submit" value="Login"/></td>
                <td><input type="button" value="Register" onclick="window.location.href='/register'"/> </td>
            </tr>
        </table>
    </form>
</body>
</html>