<!DOCTYPE HTML>
<head>
	<title>Register</title>
</head>
<body>
	<form>
		<table>
			<tr>
				<td>ID :</td>
				<td><input type="text" name="id"/> </td>
			</tr>
			<tr>
				<td>Password :</td>
				<td><input type="password" name="pwd"/></td>
			</tr>
			<tr>
				<td>Re-Password :</td>
				<td><input type="rePassword" name="rePwd"></td>
			</tr>
			<tr>
				<td>Name :</td>
				<td><input type="text" name="name"/></td>
			</tr>
			<tr>
				<td>Last Name :</td>
				<td><input type="lastName" name="lastName"/></td>
			</tr>
			<tr>
				<td>E-mail :</td>
				<td><input type="email" name="email"/></td>
			</tr>
			<tr>
				<td>Tell :</td>
				<td><input type="tell" name="tell"></td>
			</tr>
			<tr>
				<td><input type="submit" value="Register"/></td>
				<td><input type="button" value="Clear"/> </td>
			</tr>
		</table>
	</form>
</body>
</html>